html{
  background-color: rgb(29, 162, 236);
  font-family: Sans-serif, Times, serif;
  font-size: 16px;
}

body{
  text-align: center;
  background-color: rgb(239, 244, 239);
  border-style: groove;
  border-color: rgb(148, 148, 149);
  border-radius: 3px;
  margin: 5% 10%;
}

h1{
  font-size: 40px;
  margin: 10px;
  text-decoration: underline;
}

h2{
  font-size: 30px;
}

.boton{
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

form{
  text-align: left;
  padding: 20px;
}
fieldset, .puestoTrabajo{
  margin: 20px;
}
