@keyframes cycle {
 33.3% { visibility: visible; }
 100% { visibility: hidden; }
}
.lit {
 animation: cycle 9s step-start infinite;
}
.red .lit { animation-delay: -3s; }
.yellow .lit { animation-delay: -6s; }
.green .lit { animation-delay: 0s; }
